/** @format */

.content {
  height: 100vh;
  padding-top: 80px;
  position: relative;
  background: var(--secondary);
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  width: 100%;
}

.wrapper h2 {
  text-align: center;
}

.wrapper p {
  text-align: center;
}

@media screen and (min-width: 100px) and (max-width: 780px) {
}
